@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-time: .3s;
}

body {
  @apply bg-white overflow-hidden
}

.default-hover {
  @apply rounded-lg cursor-pointer duration-300 p-2
}

.default-hover:hover {
  @apply bg-blue-500
}

.close-menu::after {
  @apply bg-slate-200;
  content: "";
  position: absolute;
  right: 0.5px;
  top: 15px;
  width: 16px;
  height: 1.6px;
  transform: rotate(90deg);
  transition: var(--transition-time) ease;
}

.close-menu-active::after {
  transform: rotate(0deg);
}

.menu-item-active {
  transition: var(--transition-time) ease;
  animation: menu-item-active .5s forwards;
}

@keyframes menu-item-active {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}